include README.md
recursive-include octoprint_GcodeQueuingInjection/templates *
recursive-include octoprint_GcodeQueuingInjection/translations *
recursive-include octoprint_GcodeQueuingInjection/static *
